:root {
    --white: #fff;
    --light-blue: #CFE4E6;
    --dark-blue: #113B5f;
    --dark-green: #114B5F;
    --green: #028090;
    --blue: #456990;
    --pink: #F45B69;

    --transition-duration: ease-in-out .2s;

    --border-radius: 10px;
}