.selectan-h2-btn {
    padding-top: 80px;
    font-size: 22px;
    color: var(--dark-blue);
}

.select-h2 {
    padding-bottom: 40px;
    font-size: 32px;
    font-family: 'saira', sans-serif;
    font-weight: 600;
}

.select-h2-text {
   margin-left: 180px;
   text-align: justify;
}

.block-menu {
    padding: 0;
    position: relative;
    list-style-type: none;
    margin: 80px 0 0 0;
    min-height: 100%;
}

.block-menu-link {
    min-width: 100%;
    min-height: 150px;
    border-bottom: 1px solid var(--light-blue);
    position: relative;
    box-sizing: border-box;
    display: block;
    z-index: 2;
}

.block-menu-link:hover {
    background-color: rgba(17, 59, 95, 0.6);
    transition: all 0.4s ease-in;
}

.block-menu-item:nth-child(1):hover ~ .block-menu-wall {
    background-image: url('../../img/select/house_1.webp');
    transition: all 0.4s ease-in;
}

.block-menu-item:nth-child(2):hover ~ .block-menu-wall {
    background-image: url('../../img/select/house_2.webp');
    transition: all 0.4s ease-in;
}

.block-menu-item:nth-child(3):hover ~ .block-menu-wall {
    background-image: url('../../img/select/house_3.webp');
    transition: all 0.4s ease-in;
}

.block-menu-item:nth-child(4):hover ~ .block-menu-wall {
    background-image: url('../../img/select/house_4.webp');
    transition: all 0.4s ease-in;
}

.block-menu-name {
    position: absolute;
    display: flex;
    align-items: center;
    min-height: 150px;
    left: 40px;
    text-transform: uppercase;
    font-size: 32px;
    color: var(--light-blue);
}

.block-menu li .arrow {
    position: absolute;
    right: 60px;
    top: 50px;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: all 0.9s ease-in;
}

.block-menu li .arrow svg {
    width: 50px;
    height: 50px;
    fill: none;
    stroke: var(--light-blue);
    stroke-width: 4;
}

.block-menu-item:hover .block-menu-name{
    left: 60px;
    margin-right: 60px;
    transition: all 0.9s ease-in;
}

.block-menu li:hover .arrow {
    right: 20px;
    opacity: 1;
}

.block-menu-wall {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: var(--dark-blue);
    background-size: cover;
    background-position: center center;
    background-image: url('../../img/select/house_1.webp');
    transition: all 0.4s ease-in;
}