@media (max-width: 1650px) {
    .connection__phone {
        bottom: 50%;
    }
}

@media (max-width: 1300px) {
    .flex-jc-sp_beet-al-it_cent {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .popup__menu-wrapper {
        margin-left: 35px;
        min-width: 280px;
        /* !!! */
    }

    .title-menu {
        margin-top: 30px;
        /* !!!! */
    }

    .title-menu span {
        font-size: 42px;
        /* !!!! */
    }

    .nav {
        margin-top: 50px;
        /* !!!! */
    }

    .header__list-item a {
        font-size: 25px;
        /* !!! */
    }

    .menu-close {

        left: 250px;
        /* !!!! */
        top: 12px;
        /* !!!! */
        width: 60px;
        /* !!! */

    }

    .menu-close span {

        width: 42px;
        /* !!! */
        height: 2px;
        /* !!! */

    }

    .menu-button {
        font-size: 25px;
        /* !!!! */
        padding-bottom: 5px;
    }

}

@media (max-width: 820px) {
    .open {
        width: 100%;
    }

    .popup__menu-wrapper {
        margin-left: 35px;
        min-width: 220px;
    }

    .title-menu {
        margin-top: 30px;
    }

    .title-menu span {
        font-size: 35px;
    }

    .nav {
        margin-top: 30px;
    }

    .header__list-item a {
        font-size: 19px;
    }

    .menu-close {
        left: 180px;
        top: 5px;
        width: 40px;
    }

    .menu-close span {
        width: 20px;
        height: 2px;
    }

    .menu-close span:nth-child(1) {
        transform: rotate(45deg) translate(1px);
    }

    .menu-close span:nth-child(2) {
        transform: rotate(-45deg) translate(1px);
    }

    .menu-button {
        margin-top: 15px;
        padding-top: 3px;
        font-size: 18px;
    }

    .menu-text .text {
        margin-top: 10px;
        font-size: 11px;
    }
}

@media (max-width: 600px) {
    .header {
        position: absolute;
    }

    .header__wrapper_content {
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    .logo svg {
        order: 1;
        width: 90px;
        height: 45px;
    }

    .menu {
        order: 2;
    }

    .choice {
        order: 3;
    }

    .image-container.show {
        display: none; /* !!! */
    }

    .open {
        width: 100%; /* !!! */
        justify-content: center;
    }

    .popup__menu-wrapper {
        margin-left: 35px;
        width: 50%; /* !!! */
        text-align: left; /* !!! */
    }

    .title-menu {
        margin-top: 30px;
    }

    .title-menu span {
        font-size: 35px;
    }

    .nav {
        margin-top: 30px;
    }

    .header__list-item a {
        font-size: 19px;
    }

    .menu-close {
        left: 25px;
        top: 15px;
        width: 40px;
    }

    .menu-close span {
        width: 20px;
        height: 2px;
    }

    .menu-close span:nth-child(1) {
        transform: rotate(45deg) translate(1px);
    }

    .menu-close span:nth-child(2) {
        transform: rotate(-45deg) translate(1px);
    }

    .menu-button {
        margin-top: 15px;
        padding-top: 3px;
        font-size: 18px;
    }

    .menu-text .text {
        margin-top: 10px;
        font-size: 11px;
    }
}