.connection {
    position: relative;
}
.connection__wrapper {
    position: absolute;
    display: none;
    min-width: 700px;
    min-height: 360px;
    border-radius: 10px;
    padding-top: 78px;
    position: fixed;
    z-index: 7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
}

.connection__wrapper.openForm {
    display: block;
}

.connection__img {
    position: absolute;
    width: 154px;
    height: 189px;
    bottom: 302px;
    border-radius: 10px;
    left: 37%;
}

.connection__wrapper-form {
    margin: 0 auto;
    width: 467px;
    height: 196px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.connection__form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}

.connection__text-form {
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: normal;
    line-height: 30px;
    color: var(--dark-green);
}

.connection__input {
    display: inline-block;
    padding-left: 14px;
    margin-right: 50px;
    outline: none;
    min-width: 200px;
    min-height: 40px;
    border-radius: 10px;
    border: 1px solid var(--pink);
    background-color: var(--white);
}

.connection__input:focus::placeholder {
    color: transparent;
}

.form-close {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 10px;
    width: 100px;
    aspect-ratio: 1;
    border: 1px solid var(--blue);
    border-radius: 100%;
    cursor: pointer;
}

.form-close span {
    display: inline-block;
    width: 50px;
    height: 3px;
    background-color: var(--blue);
}

.form-close span:nth-child(1) {
    transform: rotate(45deg) translate(2px);
}

.form-close span:nth-child(2) {
    transform: rotate(-45deg) translate(2px);
}

.form-close:hover span {
    background-color: var(--pink);
    transition: var(--transition-duration);
}

.form-close:hover {
    border-color: var(--pink);
    transition: var(--transition-duration);
}

.btn-form {
    display: inline-block;
    width: 214px;
    height: 40px;
    border-radius: var(--border-radius);
    font-family: 'Saira', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: auto;
    color: var(--blue);
    background-color: var(--pink);
    z-index: 20;
    cursor: pointer;
}

.btn-form:active {
    color: var(--pink);
    background-color: var(--blue);
}

.connection__feedback-text {
    color: var(--dark-blue);
    line-height: 30px;
    text-align: center;
    margin: 50px;
    font-size: 20px;
    font-family: 'Saira', sans-serif;
}

