.apartments {
    padding-top: 130px;
}

.apartment__item {
    position: relative;
    width: 100%;
    height: 685px;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.apartments__wrapper-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 80px 41px;
}

.apartment__img {
    width: 100%;
    height: 601px;
    object-fit: cover;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.apartment__link {
    display: block;
    margin-top: 25px;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    color: var(--color-dark-blue);
}

.apartment_button {
    position: absolute;
    margin: 0;
    top: 30px;
    right: 16px;
    min-width: 280px;
    min-height: 40px;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
        padding-top: 7px;
}

.apartment_button:active {
    background-color: var(--color-light-blue);
    color: var(--color-light-green);
}