.promo {
    position: relative;
    z-index: -15;
    padding-top: 190px;
    height: 100vh;
    min-height: 730px;
    background: url('../../img/main-bg/main-bg.webp') top / cover no-repeat;
}


.letters {
    top: -10px;
    font-weight: 900;
    font-size: calc(var(--index) * 11.65);
    text-transform: uppercase;
    color: var(--color-white, #fff);
    line-height: 1;
}

.letters .letter {
    position: relative;
    letter-spacing: -10px;
    text-shadow: 25px 0 35px rgba(0 0 0 / .4);
    margin-left: -0.1em;
    right: calc(var(--index) * -2.65);
}

.letter:nth-child(6) {
    right: -90px;
}