.contact-form-container {
    max-width: 1140px;
    margin: 0 auto;
    background: none;
    padding: 80px 0 80px 0;
    color: var(--white);
}

input {
    border: 1px solid var(--white);
    border-radius: 10px;
    padding-left: 40px;
    max-width: 295px;
    max-height: 40px;
    color:var(--white);
    background: none;
}

button {
    max-width: 156px;
    max-height: 40px;
    padding: 10px;
    border: 1px solid var(--white);
    border-radius: 10px;
    background: none;
    cursor: pointer;
    color: var(--white);
}

button:hover {
    background:var(--blue);
}

textarea {
    max-width: 630px;
    max-height: 110px;
    border-radius: 10px;
    padding-left: 40px;
    margin: 20px 0 20px 0;
    color: var(--white);
    background: none;
    border: 1px solid var(--white);
}

#responseMessage {
    margin-top: 20px;
    text-align: center;
    color: green;
}

::placeholder {
    opacity: 1;
    font-size: 16px;
    color: var(--white);
}

.contact-form {
    padding: 0 60px 0 60px;
    font-size: 16px;
    text-align: center;
}