.contact-form-container {
    background: none;
    padding: 80px 0 80px 0;
    color: var(--white);
    margin: 0 auto;
    max-width: 1140px;
    }

    input {
        border: 1px solid var(--white);
        border-radius: 10px;
        padding-left: 40px;
        min-width: 346px;
        min-height: 40px;
        color: var(--white);
        background: none;
        align-content: center;
    }

    textarea {
        min-width: 740px;
        min-height: 110px;
        border-radius: 10px;
        padding-left: 40px;
        color: var(--white);
        background: none;
        border: 1px solid var(--white);
        align-content: center;
    }

.contact-h2 {
    font-size:40px;
    text-align: left;
}

.form-button {
    max-width: 156px;
    max-height: 40px;
    padding: 10px;
    border: 1px solid var(--white);
    border-radius: 10px;
    background: none;
    cursor: pointer;
    color: var(--white);
}

.form-button:hover {
   background: var(--blue);
}

.hidden {
    display: none;
    padding: 40px 0 0 0;
    text-align: center;
    color: var(--white);
    font-size: 24px
}


::placeholder {
    opacity: 0.5;
    font-size: 16px;
    color: var(--white);
    background: none;
}

.contactform {
    padding: 50px 68px 0 68px;
    margin: 0;
}

.formname {
    justify-content: space-between;
}