
.wrapper-connection {
        display: none;
        width: 700px;
        height: 360px;
        border-radius: 10px;
        padding-top: 78px;
        position: fixed;
        z-index: 3;
        top: 30%;
        left: 25%;
        background-color: rgba(255, 255, 255, 0.6);
}

.openForm {
    display: block;
}

.img-connection {
    position: absolute;
    bottom: 302px;
    border-radius: 10px;
    left: 37%;
}

.btn-close {
    position: absolute;
    left: 654px;
    bottom: 311px;
}

.wrapper-form {
    margin: 0 auto;
    width: 467px;
    height: 196px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-content: center;
}

.text-form {
    font-family: 'Saira';
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    letter-spacing: normal;
    width: 467px;
    line-height: 30px;
    color: #114B5F;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
}

.wrapper-input {
    display: flex;
    gap: 10px;
    margin-top: 35px;
}

.input {
    outline: none;
}

.input:focus::placeholder {
    color: transparent;
  }

.input {
    width: 200px;
    height: 40px;
    padding-left: 14px;
    border-color: #E67B6B;
    border-radius: 10px;
}

.btn-form {
    width: 214px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Saira';
    font-weight: 400;
    font-size: 20px;
    line-height: auto;
    color: #CFE4E6;
    background-color: #F45B69;
}


.message {
    margin-top: 60px;
    display: none;
}
