html {
  box-sizing: border-box;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

body {
  min-width: 320px;
  word-break: normal;
  font-family: "Overpass", "sans-serif";
  margin-inline: auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  cursor: pointer;
  font-family: "Overpass", "sans-serif";
  color: var(--light-blue);
  line-height: 0;
  border-radius: 10px;
}

.btn-reset::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--light-blue);
  opacity: 15%;
  transition: 0.6s;
  border-radius: 10px;
}

.btn-reset:hover::before {
  opacity: 0;
  transform: scale(0.6, 0.6);
}

.btn-reset::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: 0.6s;
  border: 1px solid var(--light-blue);
  transform: scale(1.2, 1.2);
  border-radius: 10px;
}

.btn-reset:active {
  background-color: var(--dark-green);
}

.btn-reset:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

:root {
  --white: #2b2a2a;
  --light-blue: #CFE4E6;
  --dark-blue: #113B5f;
  --dark-green: #114B5F;
  --green: #028090;
  --blue: #456990;
  --pink: #F45B69;
}

.dp-fl {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
  margin: 0 40px;
}

.section-parameters {
  max-width: 1140px;
  margin: 0 auto;
  height: 100vh;
}

.bg {
  background-image: url("../img/body.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
