.header {
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 90px;

}
.header-background {

    position: relative;
    background: url("../img/Mask.svg") center/cover no-repeat;
}
.header-background::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--light-blue) 100%);
    pointer-events: none;
}



.header-wrapper {
    padding: 65px 0px 0px 0px;
    justify-content: space-between;
    font-size: 16px;
    color: var(--dark-green);
    margin: 0 40px 0 40px;

   
}

.btn-menu {
    border: 1px solid var(--dark-green);
    border-radius: 10px;
    background: none;
    width: 143px;
    height: 40px;
    padding-left: 11px;
    align-items: center;
    color: var(--dark-green);
}

.btn-menu:active {
    color: var(--green);
    background-color: var(--light-blue);
    border: 1px solid var(--green);
}

.btn-text-menu {
   padding-left: 16px;
}

.header-list-link {
    width: 114px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.link-text-select-an {
    border: 1px solid var(--dark-green);
    border-radius: 10px;
    width: 143px;
    height: 40px;
    align-content: center;
    text-align: center;
}

.link-text-select-an:active {
    color: var(--green);
    background-color: var(--light-blue);
    border: 1px solid var(--green);
}

.link-text  {
    min-width: 165px;
}