
.wrapper-header {
    max-width: 1060px;
    max-height: 136px;
    padding-top: 85px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.btn-menu {
    width: 144px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 50px;
    color: var(--header-color);
    border: 1px solid var(--header-color);
    border-radius: 10px;
    background: url(../img/header/burger.svg) no-repeat left 11px center;
}

.btn-menu:hover {
    background-color: var(--white-color);
    transition-duration: 0.5s;
}

.link-connection {
    width: 160px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    margin-left: 40px;
    text-transform: uppercase;
    color: var(--header-color);
}

.link-connection:hover {
    color: var(--white-color);
    transition-duration: 0.5s;
}

.link-logo {
    max-width: 156px;
    max-height: 133px;
}

.link-telephone {
    width: 140px;
    height: 30px;
    font-size: 16px;
    text-align: end;
    text-transform: uppercase;
    color: var(--header-color);
} 

.link-telephone:hover {
    color: var(--white-color);
    transition-duration: 0.5s;
}

.btn-choose {
    width: 143px;
    height: 33px;
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 16px;
    margin-left: 40px;
    border: 1px solid var(--header-color);
    border-radius: 10px;
}

.btn-choose:hover {
    background-color: var(--white-color);
    transition-duration: 0.5s;
}