.header-container {
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(var(--green), rgba(0, 0, 0, 0));
    padding: 25px 55px 0 55px;
    position: fixed;
    inset: 0 0 auto;
    min-height: 150px;
}

.nav-container {
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}

.btn-menu {
    background: none;
    transition: 0.9s;
    position: relative;
    line-height: 50px;
    height: 40px;
    text-align: center;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.btn-text-menu {
    padding-left: 16px;
}
