.bagraund {
    background-image: url(../img/bagraund.svg);
    background-size: cover;
    max-width: 100%;
}

.heder-wrapper {
    padding: 65px 0px 80px 0px;
    justify-content: space-between;
    font-size: 16px;
    color: var(--blue);
    max-width: 1140px;
    margin: 0 auto;
}


.btn-menu {
    border: 1px solid var(--blue);
    border-radius: 10px;
    width: 114px;
    height: 40px;
    padding-left: 11px;
    align-items: center;
}

.btn-text-menu {
   padding-left: 16px;
}

.heder-list-link {
    width: 114px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.link-text-select-an {
    border: 1px solid var(--blue);
    border-radius: 10px;
    width: 114px;
    height: 40px;
    align-content: center;
    text-align: center;
}
