.interior {
    margin: 0 auto;
    max-width: 1140px;
    color:var(--white);
    line-height: 30px;
    font-size: 20px;
    font-weight: 300;
}

.interior-h1 {
    font-size: 100px;
    filter: blur(3px);
    margin-bottom:-10px;
    text-align: center;
    animation: move 2s infinite alternate;
}

.interior-text {
    padding: 80px 0 80px 0;
    line-height: 30px;
    font-size: 22px;
    text-align: center;
}

@keyframes move {
   0% { transform: translateY(0); }
   100% { transform: translateY(-20px); }
}

.rooms {
    padding-bottom: 80px;
    overflow: hidden;
    transition: transform 0.9s;
    cursor: pointer;
}

.rooms:hover {
    transform: scale(1.10);
}

.rooms-text-left {
    grid-column: 7 / span 5;
    align-content: flex-end;
    text-align: center;
    width: 100%;
    height: auto;
}

.h2-interior {
    padding-bottom: 40px;
    font-size: 24px;
}

.rooms-text {
   font-size: 20px;
}

.rooms-text-right {
    grid-column: 1 / span 4;
    align-content: flex-end;
    text-align: center;
}

