.selectan {
  color: var(--dark-green);
  padding-top: 80px;
}

/*.background {
  background-image: url('../img/Vector.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  position: relative;
}

.background::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    height: 65px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, var(--light-blue) 100%);
    pointer-events: none;
}
*/

.interior-h1 {
    font-family: 'saira', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color:  var(--dark-green);
    line-height: 30px;
    margin: 0;
} 

.interior-text {
    font-size: 22px;
    color:  var(--dark-green);
    line-height: 30px;
}

.btn-h1 {
    background-color: var(--green);
    font-size: 22px;
    color: var(--light-blue);
    border-radius: 10px;
    min-width: 510px;
    min-height: 50px;
}