.selectan-h2-btn {
    padding-top: 80px;
    font-size: 22px;
    color: var(--dark-blue);
}
.select-h2 {
    padding-bottom: 40px;
    font-size: 32px;
    font-family: 'saira', sans-serif;
    font-weight: 600;
}

.select-h2-text {
   margin-left: 180px;
   text-align: justify;
}

.select-btn {
    background-color: var(--green);
    min-height: 50px;
    min-width: 510px;
    border-radius: 10px;
    transition: all 0.9s;
    position: relative;
}

.selectan-house {
    padding: 40px 0 40px 0;
}

.house-img {
    grid-column: 3 / span 11;
}

.house-img-card {
    position: relative;
    padding-bottom: 40px;
}

.house-link {
    position: absolute;
    font-size: 48px;
    font-weight: 800;
    color: var(--light-blue);
    top: 60px;
    left: 100px;
    text-align: center;
    width: 80%;
    padding: 40px 0;
    box-shadow: 0 6px 18px rgba(0,0,0,0.2), 0 16px 28px rgba(0,0,0,0.2);
    text-shadow: 0 0 12px rgba(0,0,0,0.6);
    text-transform: uppercase;
    letter-spacing: 4px;
    z-index: 1;
    overflow: hidden;
}

.house-link:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    filter: blur(8px);
    z-index: -1;
}



.block-menu {
    padding: 0;
    position: relative;
    list-style-type: none;
    margin: 20px 0;
    height: 100vh;
}
.block-menu li a {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    position: relative;
    box-sizing: border-box;
    display: block;
    z-index: 2;
}
.block-menu li a:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.block-menu li:nth-child(1):hover ~ .block-menu-wall {
    background-image: url('../img/1.webp');
}
.block-menu li:nth-child(2):hover ~ .block-menu-wall {
    background-image: url('../img/2.webp');
}
.block-menu li:nth-child(3):hover ~ .block-menu-wall {
    background-image: url('../img/3.webp');
}
.block-menu li:nth-child(4):hover ~ .block-menu-wall {
    background-image: url('../img/4.webp');
}

.block-menu li .name {
    position: absolute;
    display: flex;
    align-items: center;
    height: 40px;
    left: 40px;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 24px;
    color: var(--light-blue);
    margin-right: 80px;
}
.block-menu li .arrow {
    position: absolute;
    right: 60px;
    top: 14px;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: all 0.2s ease-in;
}
.block-menu li .arrow svg {
    width: 50px;
    height: 50px;
    fill: none;
    stroke: white;
    stroke-width: 4;
}
.block-menu li:hover .name {
    left: 60px;
    margin-right: 60px;
    transition: all 0.2s ease-in;
}
.block-menu li:hover .arrow {
    right: 20px;
    opacity: 1;
}
.block-menu .block-menu-wall {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #000;
    background-size: cover;
    background-position: center center;
    background-image: url('../img/1.webp');
}