
@media (max-width: 820px) and (min-width: 600px) {

    .hero-container {
        height: 67vh;
    }

    .hero-h1 {
        font-size: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .selectan-h2-btn {
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 40px 20px;
    }

    .select-h2-text {
        margin: 40px 0;
    }

    .text-bottom {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .block-menu {
        margin: 0 auto;
    }

    .block-menu-link {
        display: none;
    }

    .block-menu-name {
        position: absolute;
        right: 0;
        left: 0;
        font-size: 20px;
        color: var(--dark-green);
        display: block;
        transform: none;
        min-height: 40px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.4);
        align-content: center;
        border-radius: var(--border-radius);
    }

    .block-menu li .arrow svg {
        width: 30px;
        height: 30px;
        opacity: 100%;
        stroke: var(--dark-green);
        stroke-width: 4;
    }

    .block-menu-wall {
        display: none;
    }

    .block-menu li .arrow {
        top: 4px;
        height: 0;
        width: 0;
        opacity: 100%;
        transition: none;
    }

    .block-menu li:hover .arrow {
        right: 30px;
        opacity: 1;
    }

    .mobile_menu_link {
        position: relative;
        box-sizing: border-box;
        display: block;
        min-width: 100%;
        min-height: 420px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: var(--border-radius);
        right: 0;
        left: 0;
        margin-bottom: 40px;
    }

    .mobile_menu_link:hover {
        background-color: rgba(17, 59, 95, 0.6);
        transition: all 0.4s ease-in;
    }

    .mobile-card_1 {
        background: url("../img/select/house_1.webp");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mobile-card_2 {
        background: url("../img/select/house_2.webp");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mobile-card_3 {
        background: url("../img/select/house_3.webp");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mobile-card_4 {
        background: url("../img/select/house_4.webp");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 600px) {

    .hero-container {
        height: 100%;
        padding-top: 230px;
    }

    .hero-background {
        display: none;
    }

    .hero-h1 {
        font-size: 30px;
        padding: 40px 20px 20px 20px;
        color: var(--dark-blue);
        position: relative;
    }

    .page_text_bottom {
        display: none;
    }

    .selectan-h2-btn {
        padding: 40px 0;
        justify-content: center;
    }

    .select-h2 {
        display: none;
    }

    .select-h2-text {
        display: none;
    }

    .select-btn {
        min-width: auto;
    }

    .block-menu {
        margin: 0 auto;
    }

    .block-menu-link {
        display: none;
    }

    .block-menu-name {
        position: absolute;
        right: 0;
        left: 0;
        font-size: 20px;
        color: var(--dark-green);
        display: block;
        transform: none;
        min-height: 40px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.4);
        align-content: center;
        border-radius: var(--border-radius);
    }

    .block-menu li .arrow svg {
        width: 30px;
        height: 30px;
        opacity: 100%;
        stroke: var(--dark-green);
        stroke-width: 4;
    }

    .block-menu-wall {
        display: none;
    }

    .block-menu li .arrow {
        top: 4px;
        height: 0;
        width: 0;
        opacity: 100%;
        transition: none;
    }

    .block-menu li:hover .arrow {
        right: 30px;
        opacity: 1;
    }

    .mobile_menu_link {
        position: relative;
        box-sizing: border-box;
        display: block;
        min-width: 100%;
        min-height: 320px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: var(--border-radius);
        right: 0;
        left: 0;
        margin-bottom: 40px;
    }

    .mobile_menu_link {
        background-color: rgba(17, 59, 95, 0.6);
        transition: all 0.4s ease-in;
    }

    .mobile-card_1 {
        background: url("../img/select/house_1.webp");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mobile-card_2 {
        background: url("../img/select/house_2.webp");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mobile-card_3 {
        background: url("../img/select/house_3.webp");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mobile-card_4 {
        background: url("../img/select/house_4.webp");
        background-size: cover;
        background-repeat: no-repeat;
    }
}